@model IEnumerable<Vidly.Models.Customer>
@*this is the model data*@
@{
    ViewBag.Title = "Customer list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (Model.Count() == 0)
    {
        <h2>We don't have any customer yet.</h2>
    }
    else
    {
    <h2>Customers</h2>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover table-striped">
                <thead class="">
                    <tr class="info">
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(c.Name, "Detail", "Customers", new { id = c.Id }, null)</td>
                            <td>@c.MembershipType.DiscountRate%</td>      
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    }
</div>
